body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

li {
    list-style-type: none;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.heat {
    background: red;
}

.noHeat {
    background: darkgreen;
}

.temperature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    color: white !important;
}

.form {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}